/*Sections-----------*/
body {
    background-color: #EEE;
    font-family: 'Catamaran';
    text-align: justify;
    font-size:1.2em;
}

#header {
    background-color: #66CCFF;
    color: white;
    text-align: center;
    padding: 10px;
}

#footer {
    clear:both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align:right;
}

#main {
    margin-left: 20%;
    padding-right: 1%;
}

/*contents--------------*/
a {
    text-decoration: none;
}

#container {
    background-color: white;
}

#content {
    padding: 15px;
}

caption {
    color: black;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.post	{
    border-style: outset;
	padding-left: 10px;
    padding-right: 10px;
    
}

img{
    display: hidden;
}

/*Headers------------------------------------*/
h1	{
	color: #0063A6;
	font-size: 36px;
	line-height: 50px;
    margin: 0px;
}
h2	{
	font-size: 24px;
	line-height: 35px;
	color: #0063A6;
    margin: 0px;
}
h3 	{
	color: #F14A29;
	font-size: 20px;
	line-height: 30px;
    margin: 0px;
}


/*Navigation---------------------------------*/

#nav {
    float: top;
    text-align: center;
}

#nav ul{
    list-style-type: none;
    padding: 0;
    
}

#nav .selected{
    font-weight: bold;
}

@media (min-width: 60em) {
    #nav {
        float: left;
        width: 180px;
        padding-left: 2%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #nav {
        float: left;
        width: 180px;
        padding-left: 2%;
    }
}
/*tables---------------------------------------*/
table {
    border-collapse: collapse;
    border: 1px solid #666;
    display: none;
}

th {
    background-color: #666;
    padding: 8px 2px 2px 2px;
    border: 1px solid #FFF;
    color: #FFF;
}

td {
    border: 1px solid #666;
    padding: 2px;
}

td:empty {
    background-color: #ccc;
}

small {
    font-size: 14px;
    line-height: 15px;
}

@media only screen and (min-width: 1100px){
    table {
        display: contents;
    }
    img{
        display: contents;
    }
}