/*Sections-----------*/
body {
    background-color: #EEE;
    font-family: 'Catamaran';
    text-align: justify;
    font-size: 1.2em;
}
/*header-------------*/
#header {
    background-color: #66CCFF;
    text-align: center;
    padding: 10px;
}

#header h1{
    color:black;
}

.banner-fluid {
    width: 100%;
    max-width: 1920px; /*max-width measurement should be the actual width of your image*/
  }
/*End of header-------------*/
#footer {
    clear: both;
    padding: 10px;
    background-color: #999999;
    color: white;
    text-align: right;
}

#main {
    margin-left: 20%;
    padding-right: 1%;
}
/*links-----------------*/
a:link{
    text-decoration: none;
    color: #0090D2;
}

a:active{
    text-decoration:underline;
}

a:hover{
   color:#0063A6;
   text-decoration: underline;
}
/*contents--------------*/
#container {
    background-color: white;
}

#content {
    padding: 15px;
}

caption {
    color: black;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.post {
    border-style: outset;
    padding-left: 10px;
    padding-right: 10px;

}

img {
    display: hidden;
    max-width: 100%;
}

/*Headers------------------------------------*/
h1 {
    color: #0063A6;
    font-size: 36px;
    line-height: 50px;
    margin: 0px;
}

h2 {
    font-size: 24px;
    line-height: 35px;
    color: #0063A6;
    margin: 0px;
}

h3 {
    color: #F14A29;
    font-size: 20px;
    line-height: 30px;
    margin: 0px;
}

/*Navigation---------------------------------*/

#nav {
    float: top;
    text-align: center;
}

#nav ul {
    list-style-type: none;
    padding: 0;

}

#nav .selected {
    font-weight: bold;
}

#nav a :hover{
    text-decoration: underline;
}

#nav a {
    border-radius: 5px;
    border: 2px solid #507786;
    color:black;
    display: block;
}

/*tables---------------------------------------*/
table {
    border-collapse: collapse;
    border: 1px solid #666;
    display: none;
}

th {
    background-color: #666;
    padding: 8px 2px 2px 2px;
    border: 1px solid #FFF;
    color: #FFF;
}

td {
    border: 1px solid #666;
    padding: 2px;
}

td:empty {
    background-color: #ccc;
}

small {
    font-size: 14px;
    line-height: 15px;
}
/*media queries---------------------------------*/
@media (min-width: 60em) {
    #nav {
        float: left;
        width: 180px;
        padding-left: 2%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #nav {
        float: left;
        width: 180px;
        padding-left: 2%;
    }
}

@media (min-width: 992px) {
    table {
        display: contents;
    }
}

@media (max-width: 992px) {
    img {
        display: contents;
    }
}