body {
    padding: 32px;
    font-family: sans-serif;
}
td, th {
    padding: 8px;
    background: #eee;
}
#div6 {
    width:30%;
    padding:60px;
    border: 2px solid #888;
    background: #eee;
}